.accordion-trigger {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  border: none;
  background-color: transparent;
  color: var(--secondary-color-4);
  outline: none;
  text-align: left;
}

.accordion-trigger:focus-visible {
  border: none;
  box-shadow: inset 0 0 0 2px var(--focused-border-color);
}

.accordion-trigger:hover {
  cursor: pointer;
  text-decoration-line: underline;
}

.accordion-content {
  display: grid;
  height: fit-content;
}

.accordion-content[data-open="false"] {
  animation: accordion-slide-down 300ms cubic-bezier(0.87, 0, 0.13, 1) forwards;
}

.accordion-content[data-open="true"] {
  animation: accordion-slide-up 300ms cubic-bezier(0.87, 0, 0.13, 1) forwards;
}

@keyframes accordion-slide-down {
  from {
    /*
    The height is controlled by "collapsible-content-width" for some unknown reason.
    The component defaulted to having "collapsible-content-width" set height, but we want content sizing which seems to break animations unless this is max-height.
    */
    max-height: var(--collapsible-content-width);
  }

  to {
    max-height: 0;
  }
}

@keyframes accordion-slide-up {
  from {
    max-height: 0;
  }

  to {
    max-height: var(--collapsible-content-width);
  }
}

.accordion-item {
  overflow: hidden;
  box-sizing: border-box;
  border-bottom: 1px solid var(--primary-color-6);
  margin-top: 1px;
}

.accordion-item:first-child {
  margin-top: 0;
}

.accordion-item:last-child {
  border-bottom: none;
}

.accordion-expand-icon {
  width: 20px;
  height: 20px;
  fill: none;
  stroke: var(--secondary-color-4);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
  transition: rotate 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.accordion-item[data-open="true"] .accordion-expand-icon {
  rotate: 180deg;
}