* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem;
    margin-bottom: 0.15rem;
    margin-top: 0.2rem
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.15rem;
    margin-top: 0.2rem
}

.row {
    display: flex;
    align-items: stretch;
    flex-grow: 1;
    flex-direction: row;

    margin: 0;
    display: flex;
    width: 100%;

    /* Used as the flex basis, effectively the minimum size */
    height: 100px;
}

.column {
    width: 33.33%;
    padding: 5px;
    flex-direction: column;
    display: flex;
    flex-grow: 1;
    overflow-y: scroll;
}

.bar {
    display: flex;
    justify-content: space_around;
    background-color: #eee;
    padding: 0.1rem;
    flex-wrap: wrap;
    align-items: center;
}

.bar-item {
    flex-grow: 1;
    padding: 0.1rem;
}

.message p {
    margin: 0.5rem;
    margin-top: 0.1rem;
}

.message ul {
    margin: 0;
}

.timestamp {
    font-size: 0.8em;
}

#Roll {
    background-color: #eee;
}

#Roll-Content {
    background-color: #ccc;
    padding: 0.5rem;
}

#Roll-Content p {
    margin-top: 0;
    margin-bottom: 0.5em;
}


/* Shrink the larger sizes of headers in the Roll-Content so they are smaller than the headers used in the layout of the app */

#Roll-Content h1 {
    font-size: 1.5em;
}

#Roll-Content h2 {
    font-size: 1.17em;
}

#Roll-Content h3 {
    font-size: 1em;
}

#Roll-Content h4 {
    font-size: .83em;
}

#Roll-Content h5 {
    font-size: .67em;
}

#Roll-Content h6 {
    font-size: .6em;
}



.roll-button {
    width: fit-content;
}

html {
    margin: 0;
    height: 100%;
    display: flex;
}

body {
    margin: 0;
    display: flex;
    height: 100%;
    width: 100%;
}

#main {
    flex-direction: column;
    display: flex;
    height: 100%;
    width: 100%;
}

/* Based on https: //github.com/DioxusLabs/components/blob/main/preview/src/components/accordion/style.css */

.accordion-trigger {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    /* padding-top: 1rem;
    padding-bottom: 1rem; */
    border: none;
    background-color: transparent;
    /* color: var(--secondary-color-4); */
    outline: none;
    text-align: left;
}

.accordion-trigger:focus-visible {
    border: none;
    box-shadow: inset 0 0 0 2px var(--focused-border-color);
}

.accordion-trigger:hover {
    cursor: pointer;
    text-decoration-line: underline;
}

.accordion-content {
    display: grid;
    height: 0;
}

.accordion-content[data-open="false"] {
    animation: accordion-slide-down 300ms cubic-bezier(0.87, 0, 0.13, 1) forwards;
}

.accordion-content[data-open="true"] {
    animation: accordion-slide-up 300ms cubic-bezier(0.87, 0, 0.13, 1) forwards;
}

@keyframes accordion-slide-down {
    from {
        height: var(--collapsible-content-width);
    }

    to {
        height: 0;
    }
}

@keyframes accordion-slide-up {
    from {
        height: 0;
    }

    to {
        height: var(--collapsible-content-width);
    }
}

.accordion-item {
    overflow: hidden;
    box-sizing: border-box;
    border-bottom: 1px solid var(--primary-color-6);
    margin-top: 1px;
}

.accordion-item:first-child {
    margin-top: 0;
}

.accordion-item:last-child {
    border-bottom: none;
}

.accordion-expand-icon {
    width: 20px;
    height: 20px;
    fill: none;
    stroke: var(--secondary-color-4);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2;
    transition: rotate 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.accordion-item[data-open="true"] .accordion-expand-icon {
    rotate: 180deg;
}