* {
    box-sizing: border-box;
}

.row {
    display: flex;
    align-items: stretch;
    flex-grow: 1;
    flex-direction: row;
}

.column {
    width: 33.33%;
    padding: 10px;
    flex-direction: column;
    display: flex;
    flex-grow: 1;

    /*
    TODO:
    Each column should scroll once full.
    Currently this does not work: the whole page scrolls instead.
    */
    overflow-y: scroll;
}

.bar {
    display: flex;
    justify-content: space_around;
    background-color: #eee;
    padding: 0.5rem;
    flex-wrap: wrap;
}

.bar-item {
    flex-grow: 1;
    padding: 0.5rem;
}

.message {
    flex-grow: 1;
    padding: 0.5rem;
}

html {
    margin: 0;
    height: 100%;
    flex-direction: column;
    display: flex;
}

body,
#main {
    flex-grow: 1;
    flex-direction: column;
    display: flex;
}